.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $black url("../images/ctaBG.jpg") left top/cover no-repeat;
  padding: 10rem 0;
  &__contentHolder {
    width: 40%;
  }
  &__title {
    margin-bottom: 3rem;
    color: $white;
    font-weight: 500;
  }
}

@media screen and (max-width: 991px) {
  .cta {
    padding: 6rem 0;
    &__contentHolder {
      width: 70%;
    }
  }
}

@media screen and (max-width: 767px) {
  .cta {
    padding: 4rem 0;
    &__contentHolder {
      width: 90%;
    }
  }
}
