*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 147rem;
  margin: 0 auto;
  display: block;
  padding: 0 2.5rem;
  &--small {
    max-width: 110rem;
  }
}

.heading {
  color: $white;
  margin: 4rem 0 2rem 0;
  &__title {
    color: currentColor;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.2rem;
  }
  &__content {
    color: currentColor;
    font-size: 1.8rem;
  }
}

.searchResults {
  padding: 3rem 0 3rem 0;
  color: $white;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__title {
    color: currentColor;
    font-weight: 600;
    border-bottom: 0.2rem solid $lightBlue;
    padding-bottom: 2rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    width: 55rem;
  }
}

.box {
  background: $white;
  padding: 3rem 4rem;
  border-radius: 4px;
  @include shadow;
}
.movieDetails {
  margin-top: 5rem;
}

.actorRoles {
  margin: 5rem 0;
  &__title {
    color: $white;
  }
}
.roles {
  background-color: $black;
  border-radius: 0.4rem;
  padding: 4rem 2.5rem;
  margin-bottom: 4rem;
  color: $white;
  border-right: 0.5rem solid $white;
  border-left: 0;
  &__link {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    text-decoration: none;
    color: currentColor;
  }
  &__image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-right: 15px;
  }
  &__title {
    color: currentColor;
  }
  &__role {
    color: currentColor;
  }
  &__desc {
    font-size: 1.6rem;
  }
  &:nth-child(2n) {
    border-left: 0.5rem solid $white;
    border-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .searchResults {
    &__title {
      margin-bottom: 4rem;
      width: 40rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .searchResults {
    padding: 3rem 0 0 0;
    &__title {
      margin-bottom: 4rem;
      width: auto;
    }
  }
  .container {
    padding: 0 1.5rem;
  }
  .heading {
    margin: 2rem 0 2rem 0;
    &__content {
      font-size: 1.6rem;
    }
  }
  .box {
    padding: 2rem 2rem;
  }
  .movieDetails {
    margin-top: 2rem;
  }
  .roles {
    margin-bottom: 2.5rem;
    &__desc {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 520px) {
  .roles {
    &__desc {
      font-size: 1.2rem;
    }
  }
}

.rating {
  color: #ffffff;
  border: 0.1rem solid #0aaee4;
  border-radius: 0.6rem;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  @include shadow;
}
