.nav {
  padding: 1.5rem 0;
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-weight: 700;
    color: $white;
    margin-right: 2.5rem;
    text-transform: uppercase;
    font-size: 3.2rem;
    flex-basis: 150px;
    text-decoration: none;
  }
  &__searchContainer {
    position: relative;
    flex: 1;
  }
  &__searchIcon {
    height: 2rem;
    width: 2rem;
    fill: $grey2;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &__search {
    width: 100%;
    padding-left: 4rem;
    transition: 0.6s all;
  }
  &__ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
  }
  &__li {
    margin-left: 2.5rem;
    & > div {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      background-color: $lightBlue;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.6s;
      cursor: pointer;
      &:hover {
        background-color: $white;
      }
      &:hover .nav__usernav-icon {
        fill: $lightBlue;
      }
    }
  }
  &__usernav-icon {
    width: 2rem;
    height: 2rem;
    fill: $white;
    cursor: pointer;
    transition: all 0.6s;
    position: absolute;
  }
}

.navSpacer {
  height: 75px;
}

.navMobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav {
    padding: 1rem 0;
    &__container {
      flex-direction: column;
      justify-content: inherit;
      align-items: inherit;
      display: none;
    }
    &__logo {
      margin-right: 2rem;
      font-size: 2.8rem;
      flex-basis: inherit;
    }
    &__search {
      width: 100%;
      flex: inherit;
      margin: 1.5rem 0;
    }
    &__ul {
      margin-left: 0;
      &--loggedIn {
        position: absolute;
        top: 10px;
        left: 200px;
      }
    }
    &__li {
      margin-left: 2rem;
      width: 50%;
      &:first-child {
        margin-left: 0;
      }
      .button {
        width: 100%;
      }
    }
  }
  .navSpacer {
    height: 60px;
  }
  .navMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__burgericon {
      width: 4rem;
      height: 4rem;
      fill: $white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.navToggle {
  display: flex; 
  transition: all .8s;
}