.card {
  background-color: $white;
  border-radius: 0.2rem;
  @include shadow;

  &__title {
    margin-bottom: 4rem;
    color: $lightBlue;
    font-weight: 500;
  }
}

.movieCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.movieCard {
  color: $lightBlue;
  margin-bottom: 3rem;
  width: 23.5%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.20), 0 2px 15px rgba(0, 0, 0, 0.8);
  &__image {
    height: 20rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    background-color: $black;
  }
  &__title {
    color: $black;
    margin-top: 3rem;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    @include ellipses;
  }
  &__content {
    color: currentColor;
    padding: 1rem 1.5rem;
    position: relative;
    @include clearfix;
  }
  &__viewmore {
    font-size: 1.4rem;
    float: right;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
    color: $lightBlue;
    font-weight: 600;
    span {
      position: relative;
      left: 0;
      transition: all 0.4s linear;
    }
    &:hover > span {
      left: 0.5rem;
    }
  }
  &__categories {
    color: currentColor;
    font-size: 1.4rem;
    display: block;
  }
  & .rating {
    color: currentColor;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.formCard {
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 55rem;
  background-color: $white;
  @include shadow;
  @include clearfix;
  padding: 5rem 7rem;
  border-radius: 5px;
  &--large {
    max-width: 70rem;
  }
  & button {
    float: right;
  }
}

.formGroup {
  margin-bottom: 2.5rem;
}

.profileCard {
  width: 88rem;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 7rem 14rem;
  &__top {
    padding-bottom: 4rem;
    margin-bottom: 6rem;
    border-bottom: 1px solid $lightBlue;
    @include clearfix;
  }
  &__bottom {
    @include clearfix;
  }
  & button {
    float: right;
  }
}

.searchCard {
  width: 18%;
  margin-right: 2.5%;
  margin-bottom: 2rem;
  & a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
    &:hover .searchCard__image {
      opacity: 1;
    }
  }
  &__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 6px;
    opacity: 0.85;
    transition: all 0.4s;
  }
  &__content {
    padding: 0.5rem;
  }
  &__title {
    font-size: 1.6rem;
    width: 95%;
    display: inline-block;
    @include ellipses;
  }
  &__desc {
    font-size: 1.2rem;
    width: 95%;
    display: inline-block;
    @include ellipses;
  }
  &:nth-child(5n) {
    margin-right: 0;
  }
}

.movieReviews {
  border-left: 0.5rem solid $grey;
  padding: 4rem;
  background-color: $black;
  color: $white;
  margin-bottom: 3rem;
  &__h4 {
    margin-bottom: 0.5rem;
  }
  &__p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  &__link {
    display: block;
    color: currentColor;
    font-size: 1.6rem;
    text-decoration: none;
    span {
      position: relative;
      left: 0;
      transition: all 0.4s linear;
    }
    &:hover > span {
      left: 0.5rem;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .movieCard {
    width: 23.5%;
    &__image {
      height: 20rem;
    }
    &__content {
      padding: 2rem 1rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .card {
    &__title {
      margin-bottom: 2rem;
      color: $lightBlue;
      font-weight: 500;
    }
  }
  .movieCard {
    width: 49%;
    &__image {
      height: 22rem;
    }
    &__viewmore {
      font-size: 1.2rem;
    }
    &__content {
      padding: 2rem 1rem;
    }
  }

  .formCard {
    margin-top: 5rem;
    max-width: 50rem;
    padding: 4rem 5rem;
  }
  .formGroup {
    margin-bottom: 2.5rem;
  }
  .profileCard {
    width: 70rem;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 4rem 5rem;
    &__top {
      margin-bottom: 4rem;
    }
  }
  .searchCard {
    width: 22%;
    margin-right: 4%;
    &__image {
      height: 12rem;
    }
    &:nth-child(5n) {
      margin-right: 4%;
    }
    &:nth-child(4n) {
      margin-right: 0%;
    }
  }
}

@media screen and (max-width: 767px) {
  .profileCard {
    max-width: 95%;
    margin-top: 3rem;
    padding: 2rem 1.5rem;
    &__top {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }
  }
  .searchCard {
    width: 48%;
    margin-right: 4%;
    &__image {
      height: 12rem;
    }
    &:nth-child(5n) {
      margin-right: 4%;
    }
    &:nth-child(4n) {
      margin-right: 4%;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .movieReviews {
    border-left: 0.3rem solid $grey;
    padding: 3rem;
    margin-bottom: 2rem;
    &__p {
      font-size: 1.4rem;
    }
    &__link {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 520px) {
  .movieCards {
    margin: 2rem 0;
  }
  .movieCard {
    width: 100%;
    margin-bottom: 2rem;
  }
  .formCard {
    margin-top: 3rem;
    max-width: 95%;
    padding: 2rem 1.5rem;
  }
  .formGroup {
    margin-bottom: 1.5rem;
  }
}