.input,
.select,
.textarea {
  height: 4.5rem;
  border-radius: 0.4rem;
  padding: 0 1.5rem;
  border: 0;
  font-size: 1.6rem;
  @include shadow;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #777777;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #777777;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #777777;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #777777;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #777777;
}

.input--grey {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  &:focus {
    outline: none;
    border-bottom: 2px solid $lightBlue;
  }
}

.textarea--grey {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  height: 12rem;
  &:focus {
    outline: none;
    border-bottom: 2px solid $lightBlue;
  }
}

.photoUpload {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 4rem;
  &__userPhoto {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-right: 2rem;
    object-fit: cover;
  }
  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
      color: $lightBlue;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $lightBlue;
      padding: 3px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        background-color: $lightBlue;
        color: $white;
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  label {
    font-size: 1.4rem;
  }
  .input--grey {
    padding: 1rem 1.75rem;
  }
}
